.quiz {
    margin-bottom: 20px;
    color: teal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
  height: 100px;
  background-color: thistle;
}

.info {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: smaller;
  text-align: center;
}

.start {
  display:block;
  text-align: center;
  margin: 5%;
}

.highscores {
  text-align: left;
}